/* Variable Imports */
@import '../variables.css';

.article-details {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--clr-grayishBlue);
}

@media (max-width: 480px) {
  .article-details {
    font-size: 1rem;
    margin: 0 2rem;
  }
}
